.arrows {
  display: flex;
  justify-content: center;
  align-items: center;
}

.arrow {
  font-size: 23px;
  color: #fffaeb;
  border: 1px solid #fffaeb;
  padding: 0.1em 0.4em;
  background-color: #777777;
  cursor: pointer;

  transition-duration: 0.3s;
}

.arrow:hover {
  color: #777777;
  border-color: #777777;
  background-color: #fffaeb;
}

.arrow-invisible {
  opacity: 0;
}

#arrow-left {
  margin-right: 15px;
}

#arrow-right {
  margin-left: 15px;
}
